/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23.03.2016, 13:05:27
    Author     : Florian
*/
@import "bc.css";

html {
    font-family: Arial;
    //background-color: darkgrey;
    background-image: url(img/grill2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-width: 1130px;
}

h1 {
    font-size: 60px;
}



#kopf1 {
    position: relative;
    float: left;
    width: 15%;
}

#kopf2 {
    position: relative;
    float: left;
    width: 25%;
    min-width: 320px;
    margin-left: 1%;
}

#kopf3 {
    float: left;
    position: relative;
    top: 35px;
    width: 12%;
    min-width: 150px;
    margin-left: 1%;
}

#kopf4{
    float: left;
    font-size: 20px;
    position: relative;
    top: 25px;
    width: 18%;
    min-width: 230px;
    margin-left: 1%;
}

#kopf5 {
    position: relative;
    float: right;
    width: 15%;
    margin-left: 1%;
}

#logo {
    height: 150px;
    width: 150px;
}

#profil {
    position: relative;
    height: 50px;
    width: 50px;
    top: 50px;
    float: right;
    margin-right: 50px;
}

header {
    position: relative;
    background-color: white;
    vertical-align: middle;
    height: 150px;
    padding: 20px;
    width: 97%;
}

#zutaten {
    padding: 10px;
    float: left;
    color: white;
    background-color: rgba(0,0,0,0.6);
    //opacity: 0.6;
    margin-top: 20px;
    width: 71%;
}

hr {
    color: white;
    background-color: white;
}

#burger {
    position: absolute;
    right: 5px;
    top: 200px;
    //float: right;
    padding: 20px;
    margin-top: 20px;
    background-color: rgba(255,255,255,0.9);
    width: 230px;
}

#brot img{
    margin-right: 10%;
    width: 20%;
}

#fleisch img{
    margin-right: 10%;
    width: 20%;
}

.plumin{
    margin-right: 17.5%;
    margin-left: 7.5%;
    float: left;
}

#kaese img{
    margin-right: 10%;
    width: 20%;
}

#salat img{
    margin-right: 10%;
    width: 20%;
}

#gemuese img{
    margin-right: 10%;
    width: 20%;
}

#sosse img{
    margin-right: 10%;
    width: 20%;
}

/*.zwreihe {
    margin-left: -50px;
}*/

.radio {
    display: none;
}

#id2 {
    border-style: solid;
    border-color: transparent;
}

.brot1 {
    border-style: solid;
    border-color: transparent;
}

.cbox {
    display: none;
}

.fleisch1 {
    border-style: solid;
    border-color: transparent;
}

.kaese1 {
    border-style: solid;
    border-color: transparent;
}

.salat1 {
    border-style: solid;
    border-color: transparent;
}

.gemuese1 {
    border-style: solid;
    border-color: transparent;
}

.sosse1 {
    border-style: solid;
    border-color: transparent;
}

#start {
    border-color: white;
}


.uebers {
    margin-top: 50px;
}

button.plus, button.minus{
    background-color: white;
    border: none;
    border-radius: 0;
    width: 20px;
    margin: 5px;
}

button.plus:active, button.minus:active{
    background-color: rgb(255,75,0);
}

input.button{
    background-color: white;
    border: none;
    border-radius: 0;
}

input.button:active{
    background-color: rgb(255,75,0);
}

h4 {
    margin-top: -50px;
}